<div class="menu">
    <div class="row">
     <div class="modal-dialog login">
       <div class="col-lg-6 col-xl-12 col-md-6 col-sm-8 col-xs-8 text-center">
         <div class="modal-content"  style="min-width: 18rem; min-height: 18rem;">
           
           <div class="col-12 sushi-icon">
             <img src="images/sushi-icon.png" alt="">
          </div>

          <div style="color: white;"><h2>Sushitogo</h2></div>
  
            <form class="col-12" style="margin-top: 20px;">
                <div class="form-group">
                  <input type="email" placeholder="Username's email" class="form-control" >
                </div>
                  <div style="margin-bottom: 70px; margin-top: 10px;"><button class="btn" type="submit" style="background-color: rgb(255, 102, 0)">Send Request</button></div>
              </form>
        </div>
       </div>
     </div>
    </div>
  </div>