<div class="orden">

        <div class="row">
                <div class="col-8 mx-auto">
                  <div class="col-12">
                      <table class="table table-striped table-dark tabla text-center">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Orders</th>
                      
                            </tr>
                          </thead>
                          <tbody>
                            <tr >
                              <th scope="row">1</th>
                              <td >{{cart}}</td>
                              
                              
                            </tr>
                          </tbody>
                        </table>
                  
                  </div>
                </div>
              </div>

</div>