.admin{
    min-height: 100vh;
    background: url(/images/BackGround-Sushito.jpg) center center no-repeat;
    background-size: cover;
}

label{
    color: rgb(255, 115, 0);
}

.searchbar{
    margin-top: 40px;
    margin-left: 70px;
    border: solid;
    border: black;
}